.SlickGridCarousel {
  margin-bottom: 20px; }
  .SlickGridCarousel .slider-for .slick-slider-main {
    margin-bottom: 10px;
    height: 450px;
    background-size: cover; }
    @media screen and (max-width: 994px) {
      .SlickGridCarousel .slider-for .slick-slider-main {
        height: 350px; } }
    @media screen and (max-width: 769px) {
      .SlickGridCarousel .slider-for .slick-slider-main {
        height: 250px; } }
    @media screen and (max-width: 480px) {
      .SlickGridCarousel .slider-for .slick-slider-main {
        height: 200px; } }
  .SlickGridCarousel .slider-nav .slick-nav-thumbnail {
    padding: 5px 7px;
    height: 150px;
    background-size: cover;
    border-radius: 3px;
    margin: 5px 7px; }
    @media screen and (max-width: 620px) {
      .SlickGridCarousel .slider-nav .slick-nav-thumbnail {
        height: 100px; } }
    @media screen and (max-width: 480px) {
      .SlickGridCarousel .slider-nav .slick-nav-thumbnail {
        height: 100px; } }
    .SlickGridCarousel .slider-nav .slick-nav-thumbnail:focus {
      outline: 0; }
    .SlickGridCarousel .slider-nav .slick-nav-thumbnail:hover {
      box-shadow: 0 0 2px black; }
  @media screen and (max-width: 769px) {
    .SlickGridCarousel ul.slick-dots {
      bottom: -40px; } }
  .SlickGridCarousel ul.slick-dots .slick-active {
    width: 12px;
    height: 12px;
    background-color: #0095D1; }
  .SlickGridCarousel ul.slick-dots li {
    background-color: black;
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border-radius: 10px;
    display: inline-block; }
    .SlickGridCarousel ul.slick-dots li button:before {
      color: transparent;
      content: ""; }

.col-md-6 .SlickGridCarousel .slider-for .slick-slider-main {
  margin-bottom: 10px;
  height: 350px; }

.col-md-6 .SlickGridCarousel .slider-nav .slick-nav-thumbnail {
  padding: 5px 7px;
  height: 125px; }

.col-md-8 .SlickGridCarousel .slider-for .slick-slider-main {
  margin-bottom: 10px;
  height: 350px; }

.col-md-8 .SlickGridCarousel .slider-nav .slick-nav-thumbnail {
  padding: 5px 7px;
  height: 125px; }

