.SlickGridCarousel {
    margin-bottom: 20px;

    .slider-for {
        .slick-slider-main {
            margin-bottom: 10px;
            height: 450px;

            @media screen and (max-width:994px) {
                height: 350px;
            }

            @media screen and (max-width:769px) {
                height: 250px;
            }

            @media screen and (max-width:480px) {
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .slider-nav {
        .slick-nav-thumbnail {
            padding: 5px 7px;
            height: 150px;

            @media screen and (max-width:620px) {
                height: 100px;
            }

            @media screen and (max-width:480px) {
                height: 100px;
            }

            &:focus {
                outline: 0;
            }

            img {
                height: 100%;
                width: 100%;
                border-radius: 3px;

                &:hover {
                    box-shadow: 0 0 2px black;
                }
            }
        }
    }

    ul.slick-dots {
        @media screen and (max-width:769px) {
            bottom: -40px;
        }

        .slick-active {
            width: 12px;
            height: 12px;
            background-color: #0095D1;
        }

        li {
            background-color: black;
            border: none;
            width: 10px;
            height: 10px;
            margin: 0 10px;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
            border-radius: 10px;
            display: inline-block;

            button {
                &:before {
                    color: transparent;
                    content: "";
                }
            }
        }
    }
}

.col-md-6 {
    .SlickGridCarousel {
        .slider-for {
            .slick-slider-main {
                margin-bottom: 10px;
                height: 350px;
            }
        }

        .slider-nav {
            .slick-nav-thumbnail {
                padding: 5px 7px;
                height: 125px;
            }
        }
    }
}
.col-md-8 {
    .SlickGridCarousel {
        .slider-for {
            .slick-slider-main {
                margin-bottom: 10px;
                height: 350px;
            }
        }

        .slider-nav {
            .slick-nav-thumbnail {
                padding: 5px 7px;
                height: 125px;
            }
        }
    }
}